* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

/* :root {
    --width: 90vw;
    --height: 75vh;
    --space: 10vw;
    --gap: calc(var(--space) / 10);
} */

.box {
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
    width: var(--newWidth);
    height: var(--newHeight);
    margin: 1vw;
    gap: var(--gap);
}

.flex1 {
    display: flex;
    width: 75%;
    height: 100%;
    flex-wrap: wrap;
    gap: var(--gap);
    align-items: flex-end;
}

.flex2 {
    display: flex;
    width: 66.66%;
    height: 66.66%;
    flex-wrap: wrap;
    gap: var(--gap);
}

.box1 {
    background-color: aqua;
    width: 25%;
    height: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/02/13/01/winter-1791370_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box2 {
    background-color: purple;
    width: calc(50% - (var(--gap) / 2));
    height: calc(50% - (var(--gap) / 2));
    background-image: url("https://cdn.pixabay.com/photo/2015/07/10/16/05/purple-flowers-839594_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box3 {
    background-color: gold;
    width: calc(50% - (var(--gap) / 2));
    height: calc(50% - (var(--gap) / 2));
    background-image: url("https://cdn.pixabay.com/photo/2017/03/11/17/49/maple-2135514_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box4 {
    background-color: tomato;
    width: 100%;
    height: calc(50% - (var(--gap) / 2));
    background-image: url("https://cdn.pixabay.com/photo/2014/04/07/16/51/leaves-318743_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box5 {
    background-color: lightseagreen;
    width: calc(33.33% - var(--gap));
    height: 66.66%;
    background-image: url("https://cdn.pixabay.com/photo/2022/05/02/19/31/dandelion-7170280_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.box6 {
    background-color: mediumseagreen;
    width: 100%;
    height: calc(33.33% - var(--gap));
    background-image: url("https://cdn.pixabay.com/photo/2016/07/05/16/53/leaves-1498985_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* RANGE SLIDERS */

.boxslider {
    margin-top: 1em;
    margin-left: 1em;
    text-align: center;
}

input {
    margin-right: 2em;
}

button {
    font-size: large;
}